@model OnlineTicaretSitesi.Models.Siniflar.Kategori
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form autocomplete="off" class="form-group" method="post">
    <div style="margin-top:20px">
        <label>Kategori Adı : </label>
        @Html.TextBoxFor(x=>x.KategoriAd, new {@class="form-control" })
    </div>
    <div style="margin-top:30px;margin-left:97px">
        <button class="btn btn-warning">Kategori Ekle</button>
    </div>
</form>