@model OnlineTicaretSitesi.Models.Siniflar.Cariler
@{
    ViewBag.Title = "CariEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form autocomplete="off" class="form-group" method="post">
    <div style="margin-top:20px">
        <label>Cari Adı : </label>
        @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
    </div>
    <div style="margin-top:20px">
        <label>Cari Soyadı : </label>
        @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
    </div>
    <div style="margin-top:20px">
        <label>Şehir : </label>
        @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })
    </div>
    <div style="margin-top:20px">
        <label>Mail Adresi : </label>
        @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })
    </div>
    <div style="margin-top:30px;margin-left:97px">
        <button class="btn btn-warning">Cari Ekle</button>
    </div>
</form>